<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <gcServer enabled="true"/>
        <enforceFIPSPolicy enabled="false"/>
    </runtime>
    <appSettings>
    	<add key="PackageSource" value="https://artifactory.ubisoft.org/api/nuget/nuget;https://artifactory/api/nuget/nuget-playground/;https://artifactory.ubisoft.org/api/nuget/nuget-snapshot;" />
    </appSettings>
</configuration>